<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
  <a class="navbar-brand" href="index.html">Mustansir Sabir</a>
  <div class="hamburger_wrapper navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div id="js-hamburger" class="hamburger">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="navbar-content">
      <li class="nav-item nav-item-hover"><a class="nav-link" href="index.html">Home</a></li>
      <li class="nav-item nav-item-hover"><a class="nav-link" href="experience.html">Experience</a></li>
      <li class="nav-item nav-item-hover"><a class="nav-link" href="projects.html">Projects</a></li>
      <li class="nav-item nav-item-hover"><a class="nav-link" href="education.html">Education</a></li>
      <li class="nav-item nav-item-hover"><a class="nav-link" href="resume.html">Resume</a></li>
      <!-- <li class="nav-item">
        <input type="checkbox" id="dark_toggler" class="dark_toggler" aria-label="Toggle Light Mode" (click)="toggle_theme()" (checked)="shouldUseDarkTheme"/>
        <mat-checkbox id="dark_toggler" class="dark_toggler" aria-label="Toggle Light Mode" [(ngModel)]="shouldUseDarkTheme"></mat-checkbox>
      </li> -->
    </ul>
  </div>
</nav>
